/* Global Styles */
body {
  margin: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif !important;
  /* This font family is used instead of Myriad Pro in order to mantain compatibility between multiple devices and browsers */
  letter-spacing: -1px;
}

.fw {
  width: 100vw;
}

.gray-font {
  color: #4f4e4d;
}

/* Hero / Header Styles */
.hero-banner {
  position: relative;
  z-index: 0;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Added z-index property to explicitly indicate the browser how to stack the elements and avoid positioning errors */
.layer0 {
  z-index: 0;
}

.background {
  opacity: 0.9;
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}

.layer3 {
  z-index: 3;
}

.layer4 {
  z-index: 4;
}

.layer5 {
  z-index: 5;
}

.layer6 {
  z-index: 6;
}

.layer7 {
  z-index: 7;
}

/* Main Section Styles  */
.title {
  position: relative;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.1rem;
}

.title::after {
  content: "";
  height: 2px;
  width: 3rem;
  background-color: red;
  position: absolute;
  left: calc(50% - 1.5rem);
  bottom: 0;
}

.card {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.623);
  box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.623);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.card:not(.last)::after {
  content: "";
  height: 2.7rem;
  width: 2.7rem;
  background-image: url("../img/Ellipse 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: calc(118% - 1.5rem);
  bottom: 40%;
}

.card .onhover {
  display: none;
}

.card:hover {
  /* transform: scale(1.05); */
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.card:hover:nth-child(2) {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c165dd+0,5c27fe+100 */
  background: #c165dd;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(145deg, #c165dd 0%, #5c27fe 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c165dd', endColorstr='#5c27fe',GradientType=0 );
  /* IE6-9 */
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.card:hover:nth-child(2) p,
.card:hover:nth-child(2) h5 {
  color: white;
}

.card:hover:nth-child(2) img {
  display: none;
}

.card:hover:nth-child(2) .onhover {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .card::after {
    height: 2.45rem !important;
    width: 2.45rem !important;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 44% !important;
    bottom: -26.5% !important;
  }
}

.card-title {
  margin-top: 1rem;
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: bolder;
}

.card-text {
  font-size: 0.7rem;
  font-weight: 100;
  color: #8c8c8c;
  line-height: 1.3rem;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(45deg, #c165dd, #5c27fe);
  margin: 1.4rem;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  border-radius: 5px;
  padding: .085rem;
}

.button-wrapper:hover {
  -webkit-box-shadow: 0px 0px 14px 0px #c2c2c2;
  box-shadow: 0px 0px 14px 0px #c2c2c2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.button {
  background-color: white !important;
  color: #6f32f8;
  padding: .55rem 3rem;
  border-radius: 5px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.button:hover {
  background: linear-gradient(-45deg, #c165dd, #5c27fe);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  color: white;
  border: none;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(-45deg, #7f37f5, #1bd4db, #7f37f5);
  margin: 3rem;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  border-radius: 5px;
}

.card-wrapper .card {
  margin: 0 !important;
}

.card-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-wrapper:hover .card {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.card-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(-35deg, #3626f7, #310fba);
  margin: 3rem;
  border-radius: 5px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.card-background .card {
  margin: 0 !important;
  background-color: transparent;
  background: url("../img/card3background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-background .card p, .card-background .card h5 {
  color: white;
}

.card-background:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}
/*# sourceMappingURL=style.css.map */